{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Logan Inventory System</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
    {% tailwind_css %}
</head>

<body>
   <div class="min-h-screen bg-gray-300 py-8 justify-center items-center" id="mainbody">

    <div class="flex flex-wrap justify-center items-center mx-auto w-[33%] bg-gradient-to-r from-yellow-500 to-yellow-600  h-auto rounded-lg shadow-lg">
        <div class=" text-black h-36 w-full text-center">
            <h1 class=" font-extrabold text-3xl py-12">Registration Forms</h1>
            <div class="bg-cover bg-center" style="background-image: url(/images/system-logo.jpg);">
                    
            </div>
        </div>

        <form action="" class="flex flex-wrap justify-center items-center h-4/5  mx-auto w-full bg-gray-100 p-3 rounded-lg">
        <input type="text" placeholder="first name..." class="w-[90%] 
                        mb-2 border-yellow-600 border-t-0 border-r-0 border-l-0 border-b-2 rounded-md" >

        <input type="text" placeholder="last name..." class="w-[90%] 
                        mb-2 border-yellow-600 border-t-0 border-r-0 border-l-0 border-b-2 rounded-md" >

        <input type="email" placeholder="Enter email..." class="w-[90%] 
                        mb-2 border-yellow-600 border-t-0 border-r-0 border-l-0 border-b-2 rounded-md" >

        <input type="number" placeholder="number..." class="w-[90%] 
                        mb-2 border-yellow-600 border-t-0 border-r-0 border-l-0 border-b-2 rounded-md" >
        
        <input type="password" placeholder="create password..." class="w-[90%] 
                        mb-2 border-yellow-600 border-t-0 border-r-0 border-l-0 border-b-2 rounded-md" >
        
        <div class="p-2"><span>I agree to the <a href="#" class="font-bold">Terms</a> and <a href="#" class="font-bold">Conditions</a></span></div>
        <button type="submit" class="py-2 bg-yellow-500 w-[90%] font-semibold hover:bg-yellow-400">Register</button>

        <div class="p-2"><span>Already have an account? <a href="login_page.html" class="font-semibold">login</a></span></div>

       </form>

    </div>

    </div>

</body>
</html>